/* CSS Document */

h1, h2, h3, h4 h5{
  color: #606060;
  font-family: arial, san-serif;
  font-weight: normal;  
}

h1 {
  font-size: 30px;
  font-family: arial, san-serif;
  border: none;
  padding: 10px;
  margin: 0px;
  line-height: 35px;
  position: relative;
  text-decoration:none;
}

h4 {
  float: left;
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #606060;
  font-weight: normal;
  border: none;
  padding: 5px;
  margin: 0px;
  position: relative;
  text-decoration:upercase;
}
h5 {
  float: right;
  font-size: 14px;
  font-family: arial, san-serif;
  color: #4d96d1;
  font-weight: normal;
  border: none;
  padding: 10 0 10 0px;
  margin: 0px;
  position: relative;
  text-decoration:upercase;
}
/*

#postDispBoxBG {
  width:190px;
  background-color:#ffffff;
  padding: 0px;
  margin:0px;
  float: left;
 }*/

.postDispBox {
  width:190px;
  padding: 0px 0px 0px 0px;
  float: left;
 } 
 

.PDSborder {
  position: relative; 
  float: left;
  width: 190px;
  margin: 0px;
  padding: 0px;
  
}

.postDispBox ul.sec {
  width:190px;
  float:left;
  color: #606060;
  font-family: arial, san-serif;
  font-size: 12px;
  text-decoration: upercase;
  margin: 0px;
  padding: 10px 0 0 5px;
  list-style: none;
}
.ulsector{
  margin:0;
}

.ulsector li{
/*   padding: 5px;*/
   border-bottom: 1px solid #cccccc;
   width:185px;
   padding-bottom: 8px;
   float:left;
}

.ulsector .num li{
   padding: 0px;
   float: right;
   color: #4d96d1;
}

.ulsector li a {
   float:left;
   padding:0px;
   margin:0px;
   color: #606060;
   border:none;
   text-decoration:none;
}



.postDispBox a {
  text-transform:upercase;
  text-decoration: none; 
  border:0px;
  font-family: arial, sans-serif;
  color:#606060;
  padding:0px;
  margin: 0px;

}

.postDispBox a:hover {
  text-transform:uppercase;
  text-decoration: none; 
  border:0px;
  font-family: arial, sans-serif;
  color:#4d96d1;
  padding:0px;
  margin: 0px;
}

.buttonM {
  width:190px;
  height:30px;
  float:left;
  color: #606060;
  font-family: arial, san-serif;
  font-size: 12px;
  text-transform:uppercase;
  margin: 0px;
/*  padding:5px 5px 5px 0px;*/
  position:relative;
}

.buttonM img {
  margin:auto;
  padding: 0px 5px;
}

.buttonM p {
  float:left;
  color: #606060;
  font-family: arial, san-serif;
  font-size: 12px;
  text-transform:uppercase;
  margin: 0px;
  padding:6px 0px 0px 28px;
  position:absolute;
}

.buttonM a {
  /*width:215px;*/
  float:left;
  color: #606060;
  font-family: arial, san-serif;
  font-size: 12px;
  text-transform:uppercase;
  margin: 0px;
  padding-left:0px;
}
.buttonM #Female {
  margin:0px 0 0 50px;
  float:right;
}


.buttonM .agegroup {

  width:79px;
  float:left;
  color: #606060;
  font-family: arial, san-serif;
  font-size: 12px;
  text-decoration: upercase;
  margin-left: 5px;
  padding: 0px;
  list-style: none;
}
.buttonM .agegroup2  {

  width:79px;
  float:right;
  color: #606060;
  font-family: arial, san-serif;
  font-size: 12px;
  text-decoration: upercase;
  margin-right: 14px;
  padding: 0;
  list-style: none;
  text-align: center;
}
.buttonM ul li{
  padding-left: 22px;
}


.buttonM a:hover {
  /*width:215px;*/
  float:left;
  color: #4d96d1;
  font-family: arial, san-serif;
  font-size: 12px;
  text-transform:uppercase;
  margin: 0px;
  padding-left:0px;
}

/* drop down box*/
.buttonMSelect ul {
    width: 190px;
    font-family: Arial, Verdana;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.buttonMSelect ul li {
    width: 79px;
    display: block;
    position: relative;
    float: left;
}
.buttonMSelect li ul {
    display: none;
}
.buttonMSelect .ulsector ul li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    border-top: 1px solid #ffffff;
    padding: 5px 15px 5px 15px;
    background: #1e7c9a;
    margin-left: 1px;
    white-space: nowrap;
}
.buttonMSelect ul li a:hover {
background: #3b3b3b;
}
.buttonMSelect li:hover ul {
    display: block;
    position: absolute;
}
.buttonMSelect li:hover li {
    float: none;
    font-size: 11px;
}
.buttonMSelect li:hover a { background: #3b3b3b; }
.buttonMSelect li:hover li a:hover {
    background: #1e7c9a;
}
/* drop down box end*/


.info ul li a:hover {
  /*background-color:none;*/
}

.ulsector {
  width: 190px;
}

.info ul {
  border: none !important;
}

@-moz-document url-prefix() {
  .buttonM #Female {
    margin-left: 0px !important;
    margin-top: 0px !important;
    float:right;
  }
}